.navbar {
    background: #0B334A;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-brand {
    width: 20%;
    font-size: 1.5em;
    font-family: sans-serif;
}


.navbar-brand > .navbar-item {
    color: #5CE3C9;
    margin-left: 5%;
}

.navbar-brand > .navbar-item:hover {
    color: #5CE3C9;
    cursor: pointer;
}

.navbar-end > .navbar-item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.navbar-start > .navbar-item {
    color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-end > .navbar-item:hover {
    background: #385C6E;
    color: white;
}

.navbar-start > .navbar-item:hover {
    background: #385C6E;
    color: white;
}



/* STUDENT PROFILE */

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
  background: #385C6E;
  width: 20%;
  height: 100vh;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  color: white;
}

.react-tabs__tab--selected {
  background: #0B334A;
  border-color: #0B334A;
  color: #5CE3C9;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
.react-tabs {
    display: flex;
    flex-direction: row;
}

.panels {
    width: 80%;
    background: rgba(248,248,248, 1);
    padding-top: 2%;
}

/* Profile Edit */

.save {
    background-color: #5CE3C9;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 1%;
    box-shadow: 0 3px 4px rgba(0,0,0,0.16), 0 3px 4px rgba(0,0,0,0.23);

}

.save:hover {
    cursor: pointer;
    color: white;
}

.form-button { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

/* School Finder */
.header-class {
    background: #385C6E;
    color: white;
}

.table-div {
    margin-top: 2%;
}